.post-container{
  background: #363E45;
  padding: 23px;
  margin-bottom: 30px;
  height: 100%;
  position: relative;
}

.post-title{
  font-size: 1.3em;
  display: block;
}

.post-container a{
  margin: 20px 0 25px 0;
}

.posts{
  margin-bottom: 30px;
}

.btn2{
  float: none;
  position: absolute;
  bottom: 23px;
}
